@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  text-align: center;
}
a {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 12vh;
  background-color: #888;
  color: #fff;
  position: fixed;
  /* opacity: 1; */
  
}

nav {
  margin-right: 12rem;
}

nav li {
  padding: 0.5rem;
}

nav li:hover {
  background-color: #555;
  cursor: pointer;
}

main {
  flex-direction: column;
}

h1 {
  padding: 1rem 0 .5rem 0;
  color: #555;
}

p {
  /* width: 80%; */
  color: #555;
}

form {
  display:flex;
  flex-direction: column;
  padding-top: 1rem;
  color: #555;
}

form input {
  width: 50%;
}

form select {
  width: 30%;
}

form input[type="submit"]{
  background-color: #888;
  color: #fff;
  width: 100px;
  font-weight: 700;
  border: none;
  padding: .5rem;
  margin-top: .5rem;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #555;
}

.display_flex {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
justify-content: space-between;}

.logo {
  padding: .5rem .5rem;
  margin: 0 2rem 0 12rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  border-radius: 10px 0 10px 0;
  background-color: #fff;
  color: #555;
}

.content {
  width: 80%;
  height: 100vh;
  padding: 12vh 0 0 1rem;
  flex-direction: column;
  align-content: center;
  background-color: #fff;
  border: solid 1px #888;
}

.content section {
  width: 98%;
}